body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  height: 32px;
  width: 100%;
  top: 0;
  justify-content: space-between;
  background-color: #262626;
  color: #ffff;
}
.rmt > .nguoidung > b {
  align-items: end;
}
.login-admin {
  font-size: 11px;
}
.login-admin .adminlg {
  text-decoration: none;
  margin-right: 10px;
}
.rmt {
  color: #ffff;
  text-decoration: none;
  padding: 0px 20px 0px 20px;
  align-content: center;
}
.navbar-header {
  background: linear-gradient(
    90deg,
    rgba(233, 203, 75, 1) 0%,
    rgba(225, 183, 58, 1) 16.6%,
    rgba(192, 139, 27, 1) 33.3%,
    rgba(185, 117, 8, 1) 50%,
    rgba(192, 139, 27, 1) 66.6%,
    rgba(225, 183, 58, 1) 83.3%,
    rgba(233, 203, 75, 1) 100%
  );
  text-align: center;
  justify-content: center;
  float: left;
  width: 85%;
  height: 35px;
  font-size: 27px;
  color: #ffff;
}
.ulnav {
  background-color: #ffff;
  list-style-type: none;
  width: 15%;
  padding: 0;
  margin: 0 auto;
  float: left;
  height: 100%;
}
.ulnav .linav a {
  display: block;
  text-decoration: none;
  color: black;
  text-align: left;
}
.ulnav .linav a .navbar-child {
  background-color: #cacaca;
  padding-left: 30px;
}
.ulnav .linav a :hover {
  background-color: #b2dcff;
}
.ulnav .linav .ulnav-child {
  display: none;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.ulnav .linav .ulnav-child .linav-child a {
  font-size: 14px;
}
.ulnav .linav.active .ulnav-child {
  display: block;
}
.navbarr {
  background-color: #f2f2f2;
  height: 35px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.imgnav {
  padding-right: 10px;
}
.row {
  width: 85%;
  padding: 20px;
  float: left;
  margin: 0 auto;
  background-color: aliceblue;
}
.content-main {
  background-color: #f2f2f2;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px 8px #afafaf;
}

.col-6 {
  width: 48%;
  height: 500px;
}
.col-12 {
  height: 500px;
  width: 97.6%;
}
.Trongtuan {
  height: 200px;
}
.Doanh-thu {
  display: inline-block;
  font-size: 30px;
}
#myPieChart {
  float: right;
}
.content-main p {
  margin-bottom: 0;
}
