.main_booking {
  background-color: #eaeaea;
  margin-bottom: 30px;
}
.datphong_head {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  width: 100%;
  height: 250px;
}
.thongtin_img {
  width: 30%;
  height: 90%;
  overflow: hidden;
  margin: auto 15px;
}
.thongtin_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.input-group select {
  padding: 5px 16px;
}
.fa-solid.fa-check {
  color: green;
}
.fa-solid.fa-user-plus {
  font-size: 25px;
}
.sale {
  font-size: 22px;
  text-decoration: line-through;
  font-weight: bolder;
}
.line_text {
  line-height: 20px;
}
.tienich_row {
  display: flex;
  gap: 300px;
}
.divlinetext {
  margin: 5px;
}
.dat-ngay-datphong {
  width: 100%;
  background-color: #ffba22;
  height: 35px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  border: 0;
}
.total > .gia-tien {
  font-size: 20px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.cancel-button {
  background-color: white;
  height: 30px;
}
.money_cancel {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.datphong_div2_1-thongtin {
  display: flex;
  justify-content: space-between;
}
.icon_plus {
  text-align: center;
}
.datphong_nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.datphong_nav > div {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
}
.fake_pre {
  white-space: pre;
}
.thongtin_ngaythang {
  display: flex;
  justify-content: space-between;
}
#chon_nguoi {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.background_nav_2 {
  width: 80%;
  margin: 20px auto;
}
.datphong_nav > :nth-child(1) {
  width: 68%;
  padding: 20px;
}
.datphong_nav > :nth-child(2) {
  width: 30%;
}
.h5_5 {
  font-size: 17px;
}
hr {
  border: 20px 5px;
}
.text_min {
  font-size: 14px;
}
form {
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 800px) {
  .datphong_nav {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
  }
  .datphong_nav > :nth-child(1) {
    width: 100%;
    padding: 30px;
  }
  .datphong_nav > :nth-child(2) {
    width: 100%;
  }
  .thongtin_ngaythang {
    display: flex;
    flex-wrap: wrap;
  }
  .thongtin_img {
    width: 100%;
  }
  .thongtin_ngaythang > :nth-child(2) {
    flex: 5;
  }
  .thongtin_ngaythang > :nth-child(3) {
    width: 5;
  }
}
.datphong_nav_1 {
  position: sticky;
  top: 95px;
}
.room-div:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}