body {
  background-color: #fffefe;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  position: fixed;
  z-index: 4;
  top: 0;
}
nav {
  margin-top: 90px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  display: block;
  position: fixed;
  z-index: 4;
  top: 0;
  padding-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(142, 142, 142, 0.2);
}
main {
  width: 80%;
  height: auto;
  display: block;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 140px;
  scroll-margin-top: 140px;
}
footer {
  width: 100%;
  background-color: #000763;
  color: #ffffff;
  overflow: hidden;
}
/* Phần liên hệ */
.contact {
  width: 30%;
  padding-top: 40px;
}
.contact a {
  float: right;
}
/* tel */
.contact-info a {
  text-decoration: none;
  padding: 5px 10px 0 10px;
  color: #2c2c2c;
}
.contact-info {
  display: inline;
  font-size: 18px;
  font-weight: bold;
}
/* facebook, youtube */
.social-icons {
  display: inline;
}
.social-icons a {
  font-size: 24px;
  margin: 0 5px;
  text-decoration: none;
}
/* Logo Roommaster */
.div-img-logo {
  width: 40%;
}
.img-logo {
  display: flex;
  margin: 0 auto;
  max-width: 150px;
}
/* Người dùng đăng nhập */
.login {
  width: 30%;
  padding: 45px 0 0 0px;
  text-align: center;
}
.login a {
  text-decoration: none;
  font-weight: bold;
  color: #2c2c2c;
}
/* Thanh điều hướng navbar */
.navchild {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.ulnav {
  float: left;
  display: flex;
  list-style-type: none;
}
.linav {
  padding: 0 30px 0 30px;
}
.a-nav {
  text-decoration: none;
  font-weight: bold;
  color: #3d3d3d;
}
.a-nav:hover {
  color: #008f9d;
}
.linav a.active {
  color: #008f9d;
  padding-bottom: 5px;
  border-bottom: 2px solid #008f9d;
  transition: ease-in-out 0.5s;
}
.li-after {
  color: #ffba22;
  padding-bottom: 5px;
  transition: ease-in-out 0.5s;
}
/* Slide khách sạn */
.slide {
  scroll-margin-top: 140px;
}
.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
/* Thanh đặt phòng */
/* Chọn hạng phòng */
.search {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: -40px 50px 0 50px;
  border-radius: 6px;
  padding: 10px;
  z-index: 2;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h6 {
  font-size: 15px;
}
.input {
  margin: 0 10px 0 10px;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto; /* Tạo thanh cuộn khi danh sách dài */
}
/* Ngày nhận trả phòng */
.date-input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.date-input-container input {
  width: 48%;
}

.input-group {
  max-width: 120px;
}
.input-group input {
  text-align: center;
}
.submit {
  background-color: #000763 !important;
}
.dat-phong {
  color: #ffffff;
  text-decoration: none;
}
.tong-quan {
  scroll-margin-top: 140px;
  padding: 10px;
  background-color: #ffffff;
  margin-top: 50px;
}
.gioi-thieu {
  display: inline-block;
  width: 70%;
  text-align: justify;
}

.keo-khach-hang {
  display: inline;
  float: right;
  width: 28%;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}
.cac-hang-phong {
  scroll-margin-top: 140px;
  display: inline-block;
  background-color: #f0f0f0;
  width: 100%;
  padding: 40px;
}
.cac-hang-phong > h3 {
  display: inline;
  margin: 30px;
  font-weight: bold;
}
.gia-phong-tu-ngay {
  display: inline-block;
  margin: 40px 30px;
  background-color: #ffba22;
  border-radius: 8px;
  padding: 0px 10px 0 10px;
  max-height: 25px;
  color: #ffffff;
}

/* băng chuyền các hạng phòng*/
.bang-chuyen {
  width: 100%;
  margin: 0px auto;
  overflow: hidden; /* tránh bị tràn ra ngoài */
  position: relative;
}
.bang-chuyen-track {
  display: flex;
  transition: transform 0.4s ease-in-out; /* hover zoom */
}
.bang-chuyen-item {
  min-width: 31.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  padding-bottom: 20px;
  text-align: left;
}
.bang-chuyen-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}
.card-image {
  width: 100%;
  overflow: hidden;
}
.card-image img {
  transition: transform 0.3s ease;
}
.bang-chuyen-item:hover .card-image img {
  transform: scale(1.2);
}
.bang-chuyen-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.bang-chuyen-button.left {
  left: 10px;
  background-color: #ffba22;
  opacity: 60%;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.bang-chuyen-button.right {
  right: 11.7px;
  background-color: #ffba22;
  opacity: 60%;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.dat-ngay {
  width: 90px;
  background-color: #000763;
  height: 35px;
  border-radius: 4px;
  outline: none;
  border: 0;
}
a > .dat-ngay {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.card-text {
  margin: 20px;
}
.gia-tien {
  color: #ffba22;
  font-size: 22px;
}
.uu-dai {
  scroll-margin-top: 140px;
  padding: 40px;
}
.uu-dai-01 {
  width: 31.5%;
}
.img-uu-dai {
  width: 355px;
}
.text-uu-dai {
  text-align: justify;
}
.dich-vu {
  scroll-margin-top: 140px;
  padding: 40px;
  background-color: #f0f0f0;
  top: 0;
}
.ul-dvu {
  list-style-type: none;
  position: sticky;
  top: 0;
}
.li-dvu {
  float: left;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.li-dvu > a {
  text-decoration: none;
}
.xem-chi-tiet {
  width: 93.6%;
  height: 35px;
  margin: 0 10px 0 10px;
  border-radius: 5px;
  border: 1px solid;
  background-color: #ffffff;
  font-weight: 500;
}
.xem-chi-tiet:hover {
  background-color: #ffba22;
  color: #ffffff;
}
.dvu {
  display: none;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
}
#Nha-hang {
  display: block;
}
.row {
  padding: 40px;
}
.quy-dinh {
  scroll-margin-top: 140px;
  padding: 40px;
}
.danh-gia {
  scroll-margin-top: 140px;
  background-color: #f0f0f0;
  padding: 40px;
}
/* 5 sao */
.star-rating {
  margin-bottom: 10px;
}

.star-rating span {
  font-size: 20px;
  color: gold;
}
.col-lg-2 {
  font-size: 70px;
  color: #008f9d;
}
.tin-tuc {
  padding: 40px;
}
.tin-tuc-item > .bang-chuyen-track {
  overflow-x: auto;
  white-space: inherit;
}
.tin-item {
  min-width: 23.3%;
}
.tin-item a h5 {
  color: #008f9d;
}
.footer {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}
.ho-tro-khach-hang > a {
  text-decoration: none;
  color: #ffffff;
}
.lien-he > a {
  text-decoration: none;
  color: #ffffff;
}
.dieu-khoan-dvu > a {
  text-decoration: none;
  color: #ffffff;
}
.logo-footer {
  align-items: end;
}
.gt-footer {
  width: 30%;
  padding: 40px 40px 0 40px;
}
.gt-footer > p {
  margin: 0;
  text-align: center;
}
.img-logo-footer {
  margin: 0 auto;
  text-align: center;
}
.img-logo-footer > img {
  margin: 0 auto;
  width: 100px;
}
.ct-footer {
  margin: 0 auto;
  text-align: center;
}
.contact-info > a > p {
  display: inline-block;
}
.tell-footer {
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  .navbarHeader {
    font-size: 14px;
    height: 60px;
  }
  .d-block {
    height: 50% !important;
  }
  .search {
    display: block;
    justify-content: center;
    background-color: #ffffff;
    margin: 20px 50px 0 50px;
    border-radius: 6px;
    padding: 10px;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .bang-chuyen-item {
    min-width: 50%;
  }
  .dvu > .bang-chuyen-track {
    overflow-x: auto;
    white-space: nowrap;
  }
  .tin-tuc-item > .bang-chuyen-track {
    overflow-x: auto;
    /* white-space: nowrap; */
  }
  .tin-item {
    min-width: 33.3%;
  }
  .card-text > a > h5 {
    font-size: 12px;
  }
  .tt-time {
    font-size: 8px;
  }
  .contact {
    width: 35%;
  }
  .login {
    font-size: small;
  }
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  .contact {
    padding-right: 15px;
  }
  .tell {
    display: none !important;
  }
  .navbarHeader {
    font-size: 12px;
    height: 60px;
  }
  .ulnav {
    padding: 0px 0px 10px 0px;
  }
  .d-block {
    height: 50% !important;
  }
  .gioi-thieu {
    width: 100%;
  }
  .keo-khach-hang {
    width: 100%;
    margin-bottom: 20px;
  }
  .bang-chuyen-item {
    min-width: 60%;
  }
  .text-uu-dai {
    width: 350px;
  }
  .li-dvu {
    padding: 10px;
  }
  .li-dvu > a {
    font-size: 15px;
  }
  .dvu > .bang-chuyen-track {
    overflow-x: auto;
    white-space: nowrap;
  }
  .dvu-khac {
    font-size: 20px;
  }
  .quy-dinh {
    font-size: 20px;
  }
  .tin-item {
    min-width: 33.3%;
  }
  .card-text > a > h5 {
    font-size: 12px;
  }
  .tt-time {
    font-size: 8px;
  }
  .review {
    padding: 0;
  }
}
